.Header{
    
     background: rgba(27, 151, 16, 0.856)url('../images/lastNews-3.jpg');
     background-blend-mode: darken;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 85%;
     
    
    height: auto;
    z-index: -1;

    .see{
        z-index: 1000;
    }

    .topgroup{
      width: 60%;
      display: flex;
      margin: auto;
    }
}