.NewsLetter{
    position: relative;

    .onTop{
        width: 100px;
        height: 100px;
       
        background: $color-primary;
        position: absolute;
        border-radius: 50%;
        top: -30%;
        right: 100px;
    }
}