.topnav{
  margin-bottom: 5px;
 

    .topgroup{
      width: 45%;
      margin-left: 50px;

        }

  
  
}

@media only screen and (max-width: 576px) {
    
    .topgroup{
      color:antiquewhite;
      justify-content: end;
    }

    
  }